version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build:
      context: .
      dockerfile: applications/app-service/Dockerfile
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/franchise
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - "8080:8080"
    depends_on:
      - mongo

volumes:
  mongo-data:
