server:
  port: 8080
spring:
  application:
    name: "Franchise"
  devtools:
    add-properties: false
  data:
    mongodb:
      uri: mongodb+srv://sambor9119_db_user:xiEhd4qfIuueYzk2@cluster0.kdigwhg.mongodb.net/franchise_bd?retryWrites=true&w=majority&appName=Cluster0
